



.stars-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(180deg,rgba(40, 60, 90, 0.9),rgba(20, 35, 60, 0.9));
    color: white;

    /* This is temporary*/
    margin: 20rem auto;
    /* This is temporary*/

    width: 34rem;
    min-height: 15rem;
    padding: 2rem 0;
    border-radius: 1rem;   
}

.star{
    cursor: pointer;
}

.rating-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.custom-hr{
    border: 0.5px solid rgba(255, 255, 255, 0.15);
    width: 100%;
    margin-bottom: 1.2rem;
}

.rating-title-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 3rem;
    margin-bottom: 1rem;
}

.rating-title {
    font-size: 1.65rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}

.rating-no-button{
    all: unset;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.movie-name-year{
    margin-bottom: 3rem;
    color: rgba(255, 255, 255, 0.88);
}

.stars-div{
    margin-bottom: 2.5rem;
    color: #fffffff6;
    transition: 0.15s all ease-in-out;
}

.stars-div:hover{
    color: rgba(255, 255, 255, 0.72);
}

.save-skip-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.custom-button-hr{
    border: 0.5px solid rgba(255, 255, 255, 0.15);
    width: 50%;
}

.save-rating {
    padding: 0.8rem;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background: #407cd6;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15), inset 0 1px 0 rgba(255, 255, 255, 0.25);
  transition: 0.15s all ease-in-out;
  outline: none;
  width: 20rem;

}

.save-rating:hover {
    background: #276cd2;
}

