



.star{
    cursor: pointer;
}

.rating-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(180deg,rgb(33, 50, 76),rgb(15, 28, 49));
    color: white;
    padding: 2rem 0;
    border-radius: 1rem; 
    max-width: 50rem;
}

.custom-hr{
    border: 0.5px solid rgba(255, 255, 255, 0.15);
    width: 100%;
    margin-bottom: 1.2rem;
}

.rating-title-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 3rem;
    margin-bottom: 1rem;
}

.rating-title {
    font-size: 1.65rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}

.rating-no-button{
    all: unset;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.15s all ease-in-out;
}

.rating-no-button:hover{
    color: rgba(243, 243, 243, 0.88);
}

.movie-name-year{
    margin-bottom: 3rem;
    color: rgba(255, 255, 255, 0.80);
}

.stars-div{
    margin-bottom: 2.5rem;
    color: #fffffff6;
    transition: 0.15s all ease-in-out;
}

.stars-div:hover{
    color: rgba(255, 255, 255, 0.72);
}

.save-skip-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.custom-button-hr{
    border: 0.5px solid rgba(255, 255, 255, 0.15);
    width: 50%;
}

.save-rating {
    padding: 0.8rem;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background: #407cd6;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15), inset 0 1px 0 rgba(255, 255, 255, 0.25);
    transition: 0.15s all ease-in-out;
    outline: none;
    width: 20rem;

}

.save-rating:hover {
    background: #276cd2;
}

.skip-rating{
    all: unset;
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.80);
    cursor: pointer;
    transition: 0.12s all ease-in-out;
}

.skip-rating:hover{
    color: rgba(255, 255, 255, 0.68);
}

.rating-modal{
    width: 100%;
    display: none;  /* When add to watched is clicked, change this to flex  */
    align-items: center;
    justify-content: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.75);
    inset: 0;
}

